/* variables */
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-grey: #c4c4c4;
  --color-background: #fbfafd;
  --color-text: #2b241f;
  --transition-timing: 0.3s;
}

/* End variables */

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: solid 0.1rem red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Courier New", Courier, monospace;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e4efff;
  opacity: 1;
  background-image: linear-gradient(
      30deg,
      #5385d1 12%,
      transparent 12.5%,
      transparent 87%,
      #5385d1 87.5%,
      #5385d1
    ),
    linear-gradient(
      150deg,
      #5385d1 12%,
      transparent 12.5%,
      transparent 87%,
      #5385d1 87.5%,
      #5385d1
    ),
    linear-gradient(
      30deg,
      #649ef6 12%,
      transparent 12.5%,
      transparent 87%,
      #649ef6 87.5%,
      #649ef6
    ),
    linear-gradient(
      150deg,
      #649ef6 12%,
      transparent 12.5%,
      transparent 87%,
      #649ef6 87.5%,
      #649ef6
    ),
    linear-gradient(
      60deg,
      #649ef677 25%,
      transparent 25.5%,
      transparent 75%,
      #649ef677 75%,
      #649ef677
    ),
    linear-gradient(
      60deg,
      #649ef677 25%,
      transparent 25.5%,
      transparent 75%,
      #649ef677 75%,
      #649ef677
    );
  background-size: 32px 56px;
  background-position: 0 0, 0 0, 16px 28px, 16px 28px, 0 0, 16px 28px;
}

/* End CSS Reset */

article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  align-items: start;
  justify-content: start;
}
/* About card */

.info-card {
  grid-column: 1 / -1;
  /* align-self: center; */
  justify-self: center;
  /* align-content: center; */
  text-align: center;
}
.top {
  background-color: blueviolet;
}
.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #5385d1;
}
.person-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.5rem solid white;
}
.username {
}
/*  End About card */
