article {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 5rem;
  align-items: start;
  justify-content: start;
}
/* About card */

.info-card {
  grid-column: 1 / -1;
  /* align-self: center; */
  justify-self: center;
  /* align-content: center; */
  text-align: center;
}
.top {
  background-color: blueviolet;
}
.bottom {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #5385d1;
}
.person-pic {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  border: 0.5rem solid white;
}
.username {
}
/*  End About card */
