/* variables */
:root {
  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated-blue: #5646e9;
  --color-pale-blue: #bdc1ff;
  --color-white: #fff;
  --default-padding: 2rem;
  --default-radius: 0.8rem;
  --default-gap: 0.5rem;
  --transition-timing: 0.3s;
}

/* End variables */

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: solid 0.1rem red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
}

/* End CSS Reset */
.container {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  gap: var(--default-padding);
  background: url(../assets/back.jpg) var(--color-very-dark-blue);
  background-size: 40rem;
  min-height: 100vh;
  background-blend-mode: difference;
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(0.35rem);
  }
}
.card {
  z-index: 1;
  background-color: var(--color-dark-blue);
}
.personal-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-white);
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap) pa;
}
.row {
  display: flex;
  flex: 1;
  gap: var(--default-gap);
  align-items: center;
}
.icons {
  display: flex;
  gap: var(--default-gap);
}
.icon {
  width: 2rem;
  height: 2rem;
}
.username {
  font-weight: 300;
}
