@import "./mixins";
/* variables */
:root {
  --color-very-dark-blue: #0f1424;
  --color-dark-blue: #1c1f4a;
  --color-desaturated-blue: #5646e9;
  --color-pale-blue: #bdc1ff;
  --color-white: #fff;
  --color-background-card: #1c1f4af9;
  --default-padding: 2rem;
  --default-radius: 0.8rem;
  --default-gap: 0.5rem;
  --transition-timing: 0.3s;
}

/* End variables */

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: solid 0.1rem red;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rubik", sans-serif;
  color: var(--color-white);
}

/* End CSS Reset */
.container {
  display: grid;
  grid-template-columns: repeat(4, 20rem);
  gap: var(--default-padding);
  align-content: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: var(--default-padding);
  background: url(../assets/back.jpg) var(--color-very-dark-blue);
  background-size: 40rem;
  background-blend-mode: difference;
  // responsive
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    grid-template-columns: repeat(1, 1fr);
  }
  @include mobile-tablet {
    align-content: start;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(0.35rem);
  }
}
.card {
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-color: var(--color-background-card);
  border-radius: var(--default-radius);
  overflow: hidden;

  &:not(:nth-child(1)) {
    padding: var(--default-padding);
    @include mobile-tablet {
      margin: 0 var(--default-padding);
    }
  }

  &:nth-child(1) {
    grid-row: 1/3;

    @include tablet {
      grid-column: 1/3;
      flex-direction: row;
    }
    @include mobile-tablet {
      border-radius: 0;
      // position: sticky;
      // top: 0;
      // z-index: 2;
    }
  }
  & .top {
    background-color: var(--color-desaturated-blue);
    padding: var(--default-padding);
    @include mobile-tablet {
      display: flex;
      align-items: center;
      flex: 1;
      gap: 1rem;
    }
    & .name {
      font-size: 2.6rem;
      font-weight: 300;
      margin-top: var(--default-gap);
    }
  }
}
.personal-pic {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.2rem solid var(--color-white);
}
.bottom {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  padding: var(--default-padding);
  margin: auto 0;
  @include tablet {
    flex: 1;
  }

  @include mobile {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.row {
  display: flex;
  flex: 1;
  gap: var(--default-gap);
  align-items: center;
}
.icons {
  display: flex;
  gap: var(--default-gap);
}
.icon {
  width: 2rem;
  height: 2rem;
}
.username {
  font-weight: 300;
}
.title {
  font-size: 2.4rem;
  font-weight: 300;
}
.type {
  font-size: 1.2rem;
  font-weight: 400;
}
.stack {
  display: flex;
  flex-direction: column;
  gap: var(--default-gap);
  margin-top: var(--default-padding);
  font-size: 1.2rem;
}
.stack-title {
  font-weight: 300;
}
.languages {
  display: flex;
  flex-wrap: wrap;
  gap: var(--default-gap);
}

.language {
  display: inline-block;
  padding: var(--default-gap);
  background-color: var(--color-desaturated-blue);
  border-radius: calc(var(--default-radius) / 3);
}
